p {
    font-family: Poppins;
    font-weight: 300;
    padding-top: 150px
}

body {
    background-color: #E7F1F1;
    height: 100%;
    width: 100%;
}

header, section {
    display: flex;
    align-items: center;
    justify-content: center;
}

h1 {
    font-family: Poppins;
    font-size: 90px;
    text-transform: uppercase;
}

.box:nth-child(1) {
    text-align: center;
    height: 150px;
    width: 150px;
    background-color: #EA9999;
    border-style: solid;
    border-width: 3px;
    margin: 10px
}

.box:nth-child(2) {
    text-align: center;
    height: 150px;
    width: 150px;
    background-color: #FACB9C;
    border-style: solid;
    border-width: 3px;
    margin: 10px
}

.box:nth-child(3) {
    text-align: center;
    height: 150px;
    width: 150px;
    background-color: #FFE59A;
    border-style: solid;
    border-width: 3px;
    margin: 10px
}

.box:nth-child(4) {
    text-align: center;
    height: 150px;
    width: 150px;
    background-color: #B6D7A8;
    border-style: solid;
    border-width: 3px;
    margin: 10px
}

.box:nth-child(5) {
    text-align: center;
    height: 150px;
    width: 150px;
    background-color: #A4C4CA;
    border-style: solid;
    border-width: 3px;
    margin: 10px
}

button {
    
    text-align: center;
    border: radius: 0 % 30 %;
    color: white;
    background: black;
    font-family: Poppins;
    font-size: 30px;
    font-weight: 300;
    border-top-right-radius: 45px;
    border-bottom-left-radius: 45px;
    width: 275px
}