
body {
    background-color:#E7F1F1;
}


header {
    display: flex;
    align-items: center;
    justify-content: center;
}


h1 {
    font-family: Poppins;
    font-size: 90px;
    text-transform: uppercase;
    

}
