p {
    font-family: Poppins;
    font-weight: 300;
}

body {
    background-color: #E7F1F1;
    height: 100%;
    width: 100%;
}

header, section {
    display: flex;
    align-items: center;
    justify-content: center;
}

h1 {
    font-family: Poppins;
    font-size: 90px;
    text-transform: uppercase;
    padding: 50px
}

.unlock-icon,
.lock-icon {
    padding-bottom: 5px;
    height: 30px;
    width: 30px;
} 

.item-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}

.box {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    text-align: center;
    height: 150px;
    width: 150px;
    border-style: solid;
    border-width: 3px;
    margin: 10px
}

button {
    text-align: center;
    color: white;
    background: black;
    font-family: Poppins;
    font-size: 30px;
    font-weight: 300;
    border-top-right-radius: 45px;
    border-bottom-left-radius: 45px;
    width: 275px
}

.hidden {
    display: none;
}

footer {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 100px
}